@media (max-width:1024px) {
    .post {
        max-width: 500px;
    }

    .page4-logo {
        height: 20px;
    }

    .footer-icons {
        display: flex;
        margin-left: 20px;
    }
}

@media (max-width:480px) {
    .posts {
        max-width: 480px;
        width: 100%;
    }

    .on-nopath {
        margin: 0 auto;
    }

    .on-both1 {
        margin: 0 auto;
        text-align: center;
    }

    .on-both2 {
        margin: 0 auto;
        text-align: center;
    }

    .page3-img {
        max-width: 480px;
        width: 100%;
    }

    .posts-image {
        max-width: 480px;
        width: 100%;
    }

    .happy-costumers {
        margin-left: 200px;
    }

    .on-nopath {
        margin: 0 0;
        max-width: 300px;
    }

    .copyright {
        display: flex;
    }

    .footer-icons {
        display: none;
    }

    .explorer {
        display: none;

    }

    nav {
        display: none;
    }

    h1 {
        display: none;
    }

    .travel-to-explore {
        display: none;
    }

    .second-ul {
        max-width: 380px;
        width: 100%;
    }

    .recomended {
        margin: 0;
    }

    .page {
        margin: 0 auto;
    }
}