.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.what {
    max-width: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 27px;
    width: 100%;
    cursor: pointer;
}

.page {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 21px;
}

.logo-word {
    color: #4468E2;
    font-size: 20px;
    cursor: pointer;
}

nav {
    max-width: 598px;
    width: 100%;
    font-size: 22px;
}

.first-ul {
    display: flex;
    justify-content: space-between;
}

.home-word {
    color: #1C4961;
    cursor: pointer;
}

.home-word:hover {
    background-color: #d6d6d6;
    border-radius: 10px;
}

.others-in-nav {
    opacity: 0.7;
    cursor: pointer;
}

.others-in-nav:hover {
    background-color: #d6d6d6;
    border-radius: 10px;
}

header {
    max-width: 1780px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect-button {
    max-width: 104px;
    width: 100%;
    background-color: #4468E2;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.connect-button:hover {
    max-width: 150px;
    width: 100%;
}


.connect-button p {
    color: white;
}

.first-photo {
    margin-top: 17px;
    width: 100%;
}

.first-photo img {
    max-width: 1780px;
    width: 100%;
    border-radius: 15px;
}

.on-1st {
    max-width: 1780px;
    width: 100%;
    background-color: #707070;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0.5;
    border-radius: 15px;
}

.whole-photodiv {
    position: relative;
    max-width: 1780px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-to-explore {
    color: white;
    position: absolute;
    max-width: 876px;
    width: 100%;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.travel-to-explore p {
    max-width: 522px;
    width: 100%;
    font-size: 22px;
    margin-bottom: 5px;

}

.explorer {
    max-width: 876px;
    width: 100%;
    font-size: 20px;
    background-color: white;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    cursor: pointer;

}

.last-p {
    padding-bottom: 15px;
}



#search-icon {
    max-width: 13px;
    width: 100%;
    height: 13px;
}

#site-search {
    border: none;
    font-size: 16px;
}

.where {
    margin-left: 5px;
    border-right: solid #B4C6EE 0.5px;
}

.date {
    color: #7E7E7E;
    font-size: 16px;
}

.check-in {
    border-right: solid #B4C6EE 0.5px;
    padding-right: 100px;

}

.Explore-button {
    max-width: 190px;
    width: 100%;
    border-radius: 15px;
    background-color: #4468E2;
    display: flex;
    align-items: center;
}

.check-out {
    padding-right: 100px;

}

.Explore-button p {
    margin-left: 32px;
}

h1 {
    margin-bottom: 50px;
}

.calms {
    max-width: 103px;
    width: 100%;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.into-calms {
    max-width: 369px;
    width: 100%;
}

.big-words {
    max-width: 154px;
    width: 100px;
    margin-top: 11px;
}

.small-words {
    max-width: 275px;
    width: 100%;
    margin-top: 23px;
}

.page1 {
    max-width: 1780px;
    width: 100%;
    padding-top: 154px;
    display: flex;
    justify-content: center;
}

.connect {
    padding: 7px 0;

}

.calms1 {
    max-width: 103px;
    width: 100%;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.page2-starter {
    max-width: 1780px;
    width: 100%;
    margin-top: 261px;
}

.recomended {
    max-width: 509px;
    width: 100%;
    font-size: 40px;
    margin-left: 35%;
}

.dmi {
    font-size: 26px;
    max-width: 1780px;
    width: 100%;
}

.second-ul {
    padding-top: 127px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.nav-dmi {
    cursor: pointer;
}

.nav-dmi:hover {
    background-color: #d6d6d6;
}

.under-frst-li {
    border-bottom: 5px #163235 solid;
}

.under-frst-li:hover {
    background-color: #d6d6d6;
}

.posts {
    max-width: 1780px;
    width: 100%;
    margin-top: 64px;
}

.post {
    max-width: 570px;
    width: 100%;
}

.post:hover {
    background-color: #f5eeee;
    border-radius: 10px;
}

.post-p {
    font-size: 38px;
    cursor: pointer;
}

.post-word {
    font-size: 26px;
    margin-top: 14px;
}

.post-icons {
    max-width: 150px;
    width: 100%;
    cursor: pointer;
}

.fee-n-icons {
    margin-top: 15px;
    max-width: 552px;
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.fee {
    font-size: 31px;
}

.last-post-words {
    display: flex;
    justify-content: space-between;
    font-size: 22px;

}

.first-line-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-line-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px;
}

.page3 {
    max-width: 1780px;
    width: 100%;
    margin-top: 264px;
}

.page-3-header {
    display: flex;
    justify-content: center;
    max-width: 1780px;
    width: 100%;
    font-size: 40px;
    margin-bottom: 73px;
}

.nopath {
    max-width: 965px;
    width: 100%;
    position: relative;
}

.photos-together {
    display: flex;
    flex-wrap: wrap;
}

.page3-both {
    max-width: 785px;
    width: 100%;
}

.on-nopath {
    max-width: 468px;
    width: 100%;
    font-size: 50px;
    color: white;
    position: absolute;
    margin-left: 249px;
    margin-top: 194px;
    cursor: pointer;
}

.on-both1 {
    font-size: 35px;
    max-width: 360px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    margin-left: 213px;
    color: white;
    cursor: pointer;
}

.page3-both1 {
    max-width: 785px;
    width: 100%;
    position: relative;
}

.on-both2 {
    font-size: 35px;
    max-width: 360px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    margin-left: 213px;
    color: white;
    cursor: pointer;
}

.page-4 {
    max-width: 1780px;
    width: 100%;
    margin-top: 60px;
    display: flex;

}

.page4-1 {
    max-width: 918px;
    width: 100%;
}

.page4-post {
    display: flex;
    font-size: 26px;
}

.page4-logo {
    margin-right: 24.5px;
}

.page4-ender {
    margin-top: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.eder-right {
    margin-left: 26px;
}

enders-light {
    color: #848484;
}

.happy-costumers {
    font-size: 40px;
    margin-left: 41%;
    margin-top: 172px;

}

footer {
    margin-top: 192PX;
    max-width: 1780px;
    width: 100%;
    background-color: #E1E8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 18px;
}

.footer-nav {
    max-width: 602px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

}

.copyright {
    cursor: pointer;
}

.footer-icons {
    max-width: 186px;
    width: 100%;
}